$theme_accent: #f6faff;
$theme_user_bg: #c4dbff;
$theme_bg_primary: #eaf4fc;
$theme_primary: #5e89f9;
$theme_dark: #251f44;
$theme_primary_darker: #4b25fe;
$sidebar_secondary: #846cfd;
$admin_color_light: #e8e4ff;
$secondary: #b4b4b4;
$primary: #5e72e4; // primary
$info: #0eafcc; // info
$success: #0da5c0; // success
$warning: #2dce89; // warning
$danger: #fb6340; // Danger
$neutral: #f5365c; // Neutral
